.page-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 56px;
    flex-direction: column;
}

.page-main-heading-container {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.vehicles-main-heading {
    font-size: var(--font-heading-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
}