.page-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 56px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-max-width-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
    height: auto;
    max-width: 1328px;
    gap: 57px;
}

.page-main-heading-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 25px;
}

.vehicles-main-heading {
    font-size: var(--font-heading-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
}

.group-car-rental-main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 32px;
    /* margin-top: 80px; */
}

.group-car-rental-main-container > h3 {
    font-size: var(--font-heading-sm);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    /* color: var(--primary-color); */
}

.group-items {
    display: flex;
    align-items: start;
    justify-content: start;
    padding-left: 16px;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.group-items > span {
    display: flex;
    align-items: center;
    justify-content: start;
    width: max-content;
    gap: 16px;
    font-size: var(--font-body-lg);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-medium);
    color: var(--primary-color);
    cursor: pointer;
}

.group-items > span:hover {
    color: var(--secondary-color);
}

.fleet-para-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
    gap: 16px;
}

.fleet-para-heading {
    font-size: var(--font-heading-sm);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.fleet-para-desc {
    font-size: var(--font-body-md);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);    
}

.fleet-details-derc-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
    gap: 32px;
}

.fleet-detail-desc-heading-and-para {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
    gap: 5px;
}

.fleet-detail-desc-heading {
    font-size: var(--font-heading-sm);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.fleet-detail-desc-para {
    font-size: var(--font-body-md);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
}

.fleet-detail-desc-items-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
    padding-left: 60px;
    gap: 16px;
}

.delet-detail-desc-single-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 7px;
}

.delet-detail-desc-single-item > h3 {
    font-size: var(--font-body-lg);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.delet-detail-desc-single-item > p {
    font-size: var(--font-body-md);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
}

.perfect-ride-zm-main-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    align-items: start;
    justify-content: start;
}

.perfect-ride-zm-main-container > h3 {
    font-size: var(--font-heading-sm);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.perfect-ride-zm-main-container > p {
    font-size: var(--font-body-md);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
}

@media only screen and (max-width: 480px) {
    .page-main-container  {
        padding: 16px;
    }

    .vehicles-main-heading {
        font-size: var(--font-heading-md);
        line-height: var(--line-height-heading);
        font-weight: var(--font-weight-bold);
    }
    .page-max-width-container {
        gap: 32px;
    }

    
}