.rental-service-head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 32px;
    padding: 0;
}


.rental-service-head-container > p {
    font-size: var(--font-body-18);
    line-height: var(--line-height-body);
    font-weight: var(--fonr-weight-mediums);
    text-align: center;
}


@media only screen and (max-width: 480px) {
    .rental-services-content-container {
        gap: 16px;
        padding: 0px;
    }
    .rental-service-head-container {
        gap: 16px;
        padding: 0;
    }
    .rental-service-head-container > h3 {
        font-size: var(--font-body-xl);
        text-align: center;
        line-height: var(--line-height-heading);
        font-weight: var(--font-weight-bold);
        color: var(--primary-color);
    }

    .rental-service-head-container > p {
        font-size: var(--font-body-lg);
        text-align: center;
    }

    .booking-instruction-cards-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
}