.booking-form-main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.3);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* background: rgba(17, 59, 132, 0.7); */
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    backdrop-filter: blur(5px);
}

.booking-form-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.booking-form-inputs {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.booking-form-input-single-col {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.booking-time-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.select-pickup-date-button {
    display: flex;
    width: 100%;
    position: relative;
    height: 100%;
}

.select-drop-up-date-button {
    display: flex;
    width: 100%;
    position: relative;
    height: 100%;
}

.select-date-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 47px;
    max-height: 60px;
    font-size: var(--font-body-lg);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

/* .select-date-button .select-button-height-control */


.booking-form-confirm-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 15px;
    justify-content: space-evenly;
    width: 30%;
}

.add-promo-option {
    font-size: var(--font-weight-md);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
    cursor: pointer;
}

/* Calender styling */
.booking-pickup-calender-container {
    width: 250px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 9999;
    background-color: var(--color-white);
}
.booking-drop-calender-container {
    width: 250px;
    position: absolute;
    top: 85%;
    left: 25px;
    z-index: 9999;
    background-color: var(--color-white);
}

.booking-pickup-calender-container .react-calendar {
    border: 1px solid var(--primary-color);
}



.booking-pickup-calender-container .react-calendar .react-calendar__navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px !important;
}

.booking-pickup-calender-container .react-calendar .react-calendar__viewContainer {
    padding: 10px !important;
}


/* Drop Time Calender */

.booking-drop-calender-container {
    width: 250px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 9999;
    background-color: var(--color-white);
}
.booking-drop-calender-container {
    width: 250px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 9999;
    background-color: var(--color-white);
}

/*  */


.booking-drop-calender-container .react-calendar .react-calendar__navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px !important;
}

.booking-drop-calender-container .react-calendar .react-calendar__viewContainer {
    padding: 10px !important;
}

.react-calendar__tile {
  cursor: pointer;
}

.react-calendar__tile--disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

@media only screen and (max-width: 480px) {
    .booking-form-main-container {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 10px;
        gap: 15px;
    }

    .booking-form-inputs-container {
        width: 100%;
    }
    .booking-form-inputs {
        flex-direction: column;
    }
    .booking-form-confirm-button-container {
        width: 100%;
        align-items: start;
        justify-content: start;
    }
}