.contact-us-page-main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}


.contact-us-inner-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 50px; */
    /* padding-bottom: 57px; */
}

.contact-us-max-width-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    align-items: start;
    justify-content: start;
    max-width: 1323px;
    padding: 25px 56px 50px 56px;
}

@media only screen and (max-width: 480px) {
    .contact-us-max-width-container  {
        padding: 0;
    }
}