.car-detail-modal-main-container {
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999999;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;

}

.car-detail-modal-main-container.show-details-modal {
    visibility: visible;
    opacity: 1;
}

.car-details-modal-inner-content-container {
    width: 50%;
    height: auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0;
    border: 1px solid #f9f9f9;
    /* padding: 16px 0; */
}

.car-detail-heading-and-close-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 24px;
}

.car-detail-heading-and-close-section > h3  {
    font-size: var(--font-heading-sm);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
}

.car-detail-heading-and-close-section > button {
    background-color: transparent;
    height: max-content;
    width: max-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
}

.car-details--image-slide {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

.car-details--image-slide > img {
    width: 240px;
    height: 240px;
    object-fit: cover;
}

.car-details--image-slide::scroll-marker {
    display: none;
}

.single-car-every-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
}

.car-spacifications {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 16px;
    width: 50%;
}

.car-single-spacification {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 10px;
}

.car-single-spacification > h3 {
    font-size: var(--font-body-md);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
}

.car-features {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    gap: 10px;
}

.car-features > span {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 10px;
    font-size: var(--font-body-md);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
}

.car-detail-modal-enquiry-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
    border-top: 1px solid var(--primary-color);
}

.car-detail-modal-enquiry-section > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: 10px;
    font-size: var(--font-body-md);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
    color: var(--primary-color);
}

@media only screen and (max-width: 480px) {
    /* .car-detail-modal-main-container {
        position: relative;
    } */
    .car-details-modal-inner-content-container {
        width: 100%;
        height: 0;
        background-color: #fff;
        border-radius: 0px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 0;
        border: 1px solid #f9f9f9;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        position: absolute;
        bottom: -50%;
        /* padding: 16px 0; */
        transition: all 0.3s ease-in-out;
    }

    .car-details-modal-inner-content-container.show-inner-modal-on-mobile-view {
        bottom: 0;
        height: 80vh;
    }
    .car-details--image-slide > img {
        width: 310px;
        aspect-ratio: 4 / 3;
        object-fit: cover;
    }

    .single-car-every-details-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        width: 100%;
        padding: 16px;
        gap: 16px;
    }
    .car-spacifications {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 16px;
        width: 100%;
        border-bottom: 1px solid var(--primary-color);
        padding-bottom: 16px;
    }
    .car-features {
        gap: 16px;
    }

    .car-features > span {
        align-items: start;
    }
    .car-detail-modal-enquiry-section {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 16px;
        padding: 16px;
        width: 100%;
    }
}