.booking-edit-main-continair {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: start;
    gap: 10px;
    width: 70vw;
    height: 70vh;
    /* flex: 1; */
    /* max-width: 1230px; */
    background-color: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 25px;
    padding: 15px;
}

.edit-booking-left-sec {
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    gap: 1.875rem;
    align-items: start;
    justify-content: center;
    padding: 0;
    width: 50%;
    /* border-radius: 25px; */
    overflow: hidden;
}

.edit-booking-vehicle-image-and-name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    /* border-radius: 25px; */
    border-radius: 1.563rem;
    border: 1px solid #afafaf;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.edit-booking-vehicle-image-and-name>img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.edit-booking-vehicle-name {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0.625rem;
    /* padding: 10px; */
    background-color: rgba(255, 255, 255, 0.2);
}

.edit-booking-car-features {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.563rem;
    /* gap: 25px; */
    width: 100%;
}

.edit-booking-car-features>span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: 0.625rem;
    /* gap: 10px; */
    font-size: 0.813rem;
    /* font-size: 13px; */
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}


.edit-booking-pick-and-drop-time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    /* gap: 15px; */
}

.pick-drop-details-box {
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    /* padding: 10px; */
    align-items: start;
    justify-content: start;
    width: 48%;
    gap: 0.625rem;
    /* gap: 10px; */
    border: 1px solid #000;
    border-radius: 0.313rem;
    /* border-radius: 5px; */
}

.pick-drop-detial-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pick-drop-detial-head>h3 {
    /* font-size: 13px; */
    font-size: 0.813rem;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.pick-drop-detial-head>button {
    width: 2.188rem;
    height: 2.188rem;
    /* width: 35px;
    height: 35px; */
    border: 1px solid #961502;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.313rem;
    /* border-radius: 5px; */
    cursor: pointer;
}

.pick-drop-location {
    font-size: 0.813rem;
    /* font-size: 13px; */
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.pick-drop-time-and-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 1.563rem;
    /* height: 25px; */
    gap: 0.625rem;
}

.pick-drop-date-and-month {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.pick-drop-date-and-month>h3 {
    font-size: 0.813rem;
    /* font-size: 13px; */
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.pick-drop-date-and-month>p {
    font-size: 0.75rem;
    /* font-size: 12px; */
    line-height: 1.5;
    font-weight: 400;
    color: #000;
    margin-top: -0.625rem;
    /* margin-top: -10px; */
    margin-right: 0.313rem;
    /* margin-right: 5px; */
}

.pick-drop-time-date-saprator {
    display: flex;
    width: 1px;
    height: 100%;
    background-color: #000;
}

.pick-drop-time-and-date>h3 {
    /* font-size: 13px; */
    font-size: 0.813rem;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

/* Right Section */
.edit-booking-left-right {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    /* gap: 20px; */
    align-items: start;
    justify-content: space-between;
    padding: 0;
    width: 50%;
    height: 100%;
    /* border-radius: 25px; */
    overflow-x: hidden;
    overflow-y: auto;
}

.edit-booking-left-right::-webkit-scrollbar {
    display: none;
}

.edit-hirer-details-main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: auto;
}

.hirer-info-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0.938rem;
    /* gap: 15px; */
}

.hirer-info-head>h3 {
    font-size: 0.938rem;
    /* font-size: 15px; */
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.hirer-info-edit-update-contianer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: 0.938rem;
    /* gap: 15px; */
}

.hirer-info-edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.188rem;
    height: 2.188rem;
    /* height: 35px; */
    border: 1px solid #961502;
    border-radius: 0.313rem;
    cursor: pointer;
}

.hirer-info-inputs {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.625rem;
}

.hirer-info-two-columns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.625rem;
}

.hirer-info-two-columns>label {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    gap: 0.313rem;
    font-size: 0.75rem;
    /* font-size: 12px; */
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}



.hirer-info-two-columns>label>input {
    width: 100%;
    height: 2.188rem;
    /* height: 35px; */
    padding: 0.313rem 0.938rem;
    /* padding: 5px 15px; */
    border: 1px solid #afafaf;
    border-radius: 0.313rem;
    outline: none;
}

/* living country dropdown */
.edit-booking-living-country {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    gap: 0.313rem;
    position: relative;
}

.edit-booking-living-country>p {
    font-size: 0.75rem;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}

.edit-booking-living-country-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.313rem 0.938rem;
    /* padding: 5px 15px; */
    border: 1px solid #afafaf;
    border-radius: 0.313rem;
    width: 100%;
    height: 2.188rem;
    /* height: 35px; */
    cursor: pointer;
}

.edit-booking-living-country-head>h3 {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}

.edit-booking-living-country-dropdown {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    max-height: 0;
    overflow: hidden;
    z-index: 999999;
    transition: all 0.3s ease-in-out;

}

.edit-booking-living-country-dropdown::-webkit-scrollbar {
    display: none;
}

.edit-booking-living-country-dropdown.show-living-country-list {
    height: auto;
    max-height: 220px;
    background-color: #FFF;
    border: 1px solid #afafaf;
    overflow-x: hidden;
    overflow-y: auto;
}

.living-country-list-item {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
    background-color: transparent;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.living-country-list-item:hover {
    background-color: #961502;
    color: #FFF;
}

.living-country-list-item.active-country-list-item {
    background-color: #961502;
    color: #FFF;
}

/* Living country dropdown end */

/* Find us */

.edit-how-you-find-us {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    gap: 5px;
    position: relative;
}

.edit-how-you-find-us>p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}

.edit-how-you-find-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 15px;
    border: 1px solid #afafaf;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    cursor: pointer;
}

.edit-how-you-find-head>h3 {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}

.edit-how-you-find-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    max-height: 0;
    overflow: hidden;
    z-index: 999999;
    transition: all 0.3s ease-in-out;
}

.edit-how-you-find-list::-webkit-scrollbar {
    display: none;
}

.edit-how-you-find-list.show-how-find-us {
    height: auto;
    max-height: 220px;
    background-color: #FFF;
    border: 1px solid #afafaf;
    overflow-x: hidden;
    overflow-y: auto;
}

.edit-where-found-item {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
    background-color: transparent;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.edit-where-found-item:hover {
    background-color: #961502;
    color: #FFF;
}

.edit-where-found-item.active-find-us-item {
    background-color: #961502;
    color: #FFF;
}

/* Find us end */

/* Visit Perpose */

.visit-perpose-dropdown-main {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    gap: 5px;
    position: relative;
}

.visit-perpose-dropdown-main>p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}

.visit-perpose-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 15px;
    border: 1px solid #afafaf;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    cursor: pointer;
}

.visit-perpose-head>h3 {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}

.visit-perpose-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    max-height: 0;
    overflow: hidden;
    z-index: 999999;
    transition: all 0.3s ease-in-out;
}

.visit-perpose-list::-webkit-scrollbar {
    display: none;
}

.visit-perpose-list.show-visit-perpose {
    height: auto;
    max-height: 220px;
    background-color: #FFF;
    border: 1px solid #afafaf;
    overflow-x: hidden;
    overflow-y: auto;
}

.visit-perpose-item {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
    background-color: transparent;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.visit-perpose-item:hover {
    background-color: #961502;
    color: #FFF;
}

.visit-perpose-item.active-visit-perpose {
    background-color: #961502;
    color: #FFF;
}

/* End Visit Perpose */

.living-country {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    gap: 5px;
}

.living-country>p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}

.living-country>h3 {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
    padding: 5px 15px;
    border: 1px solid #afafaf;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.hirer-info-update-button-contianer {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: end;
    margin-top: 15px;
}

.update-hirer-info-button {
    display: none;
    background-color: #961502;
    padding: 10px;
    border: 1px solid #961502;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: #FFF;
    width: max-content;
}

.update-hirer-info-button.show-update-hirer {
    display: flex;
}

/* Driver info */
.edit-driver-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: auto;
    gap: 20px;
    overflow: visible;
}

.edit-driver-info-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.edit-driver-info-head>h3 {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.edit-driver-info-head>button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #961502;
    cursor: pointer;
    border-radius: 5px;
}

.edit-drivers-list-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    width: 100%;
    overflow: unset;
}

.driver-list-single-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    background-color: #fff;

    border-radius: 5px;
    border: 1px solid #afafaf;
}

.driver-list-single-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    height: 35px;
    padding: 5px 5px 5px 15px;
    cursor: pointer;
}

.driver-list-single-item-head>h3 {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.driver-view-or-adit-contianer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    height: max-content;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid #961502;
    border-radius: 5px;
    color: #961502;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;

}

/* 
.driver-list-single-item-inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.driver-list-single-item-inputs.edit-driver-detials {
    height: auto;
    max-height: 2000px;
    padding: 15px;
    gap: 15px;
}


.licence-issue-country-list-main-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: auto;
    position: relative;
}

.licence-issue-country-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
}

.licence-issue-country-head > h3 {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.licence-issue-country-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 0;
    max-height: 0;
    border: 1px solid transparent;
    background-color: transparent;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.licence-issue-country-list::-webkit-scrollbar {
    display: none;
}

.licence-issue-country-list.show-licence-country-list {
    height: auto;
    max-height: 160px;
    border: 1px solid #afafaf;
    background-color: #FFF;
    overflow-x: hidden;
    overflow-y: auto;

}

.licence-country-list-item {
    width: 100%;
    padding: 5px 10px;
    color: #000;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
}

.licence-country-list-item:hover {
    background-color: #961502;
    color: #FFF;
} */


/* Insurances Styling */

.insurance-main-contianer {
    display: flex;
    /* flex-direction: column; */
    align-items: start;
    justify-content: start;
    width: 100%;
}

.car-insurance-head {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.car-insurance-head>h3 {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.insurance-content-sec>button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #961502;
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 5px;
}

.insurance-content-sec {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: max-content;
    flex-shrink: 0;
}

.car-insurance-head>span {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    width: 100%;
}

.car-insurance-head>span>h3 {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.car-insurance-head>span>p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}

.car-insurance-head>p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}



/* Inusrances End */


/* Summary */

.summary-main-contianer {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

}

.summary-extras-and-signature {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    gap: 10px;

}

.extras-count-container {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #afafaf;
    border-radius: 5px;
}

.extras-count-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid #afafaf;
    padding-bottom: 10px;
}

.extras-count-head>h3 {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.extras-count-option-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
    width: 100%;
    max-height: 75px;
    overflow-x: hidden;
    overflow-y: auto;
}

.extras-count-option-contianer::-webkit-scrollbar {
    display: none;
}

.extras-count-option-contianer>span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.extras-count-option-contianer>span>h3 {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}

.extras-count-option-contianer>span>p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.summary-signature-option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 75px; */
    height: 100%;
    border: 1px solid #afafaf;
    border-radius: 5px;
}

.summary-signature-image-contianer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.summary-image-reupload-option {
    position: absolute;
    top: 5px;
    right: 5px;
    width: max-content;
    height: max-content;
    display: flex;
    flex-shrink: 0;
    background-color: #FFF;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.summary-signature-image-contianer>img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.summary-upload-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.summary-upload-image-container>p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.summary-total-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    height: 100%;
    padding: 10px;
    gap: 10px;
    border: 1px solid #afafaf;
    border-radius: 5px;
}

.summary-total-section>h3 {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #afafaf;
}

.summary-values-and-totals {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 10px;
}

.summary-values-and-totals>span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.summary-values-and-totals>span>p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}

.summary-values-and-totals>span>h3 {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

/* Summary */


/* Extras Feature */

.extras-main-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 10px;
}

.extras-head-contianer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.extras-head-contianer>h3 {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.extras-head-contianer>button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #000;
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 5px;
}

.extras-selected-options-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 10px;
}

.extra-selected-single-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.extra-selected-single-option>h3 {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.extra-selected-option-quantity-and-total {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: max-content;
}

.extra-selected-option-quantity-and-total>span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: max-content;
}

.extra-selected-option-quantity-and-total>span>p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}

.extra-selected-option-quantity-and-total>span>h3 {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

/* Extras Feature Value */

/* Update Booking button */
.update-booking-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.update-booking-button-container>button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #961502;
    background-color: #961502;
    color: #FFF;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .booking-edit-main-continair {
        display: none;
    }
}

@media only screen and (maax-width: 1200px) {
    .summary-values-and-totals>span>p {
        font-size: 10px;
    }

    .summary-values-and-totals>span>h3 {
        font-size: 10px;
    }
}