.user-dash-main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 20px;

}

.user-dash-head-contianer {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 20px;

}