.rental-services-details-main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.rental-services-content-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 57px;
}

.rental-services-max-width-container {
    display: flex;
    flex-direction: column;
    gap: 57px;
    align-items: start;
    justify-content: start;
    max-width: 1323px;
}

@media only screen and (max-width: 480px) {
    .rental-services-max-width-container {
        gap: 16px;
    }
    .rental-services-content-container {
        gap: 32px;
    }
}