.service-detail-main-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    gap: 16px;
}

.service-detail-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.service-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 25px;
    max-width: 540px;
}

.service-detail-description-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
    justify-content: space-evenly;
    gap: 16px;
}

.service-heading-contaienr {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.service-heading-contaienr > h3 {
    font-size: var(--font-bofy-lg);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.service-heading-underline-main-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: start;
    justify-content: start;
    gap: 5px;
}

.service-heading-top-line-container {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 50px;
    height: max-content;
}

.service-heading-right-side-line {
    width: 80%;
    height: 3px;
    background-color: var(--primary-color);

}

.service-heading-bottom-line {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 50px;
    height: max-content;
}

.service-heading-left-line {
    width: 80%;
    height: 3px;
    background-color: var(--primary-color);
}

@media only screen and (max-width: 480px) {
    .service-detail-main-container {
        flex-direction: column !important;
        padding: 16px;
    }
    .service-detail-image-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .service-detail-description-container {
        
        width: 100%;
    }
}