.booking-info-main-container {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: end;
    flex-direction: column;;
}

.bookinng-info-content-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.booking-info-max-width-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    max-width: 1323px;
    gap: 50px;
    padding: 25px 56px 0 56px;
}

@media only screen and (max-width: 480px) {
    .bookinng-info-content-container {
        gap: 25px;
    }
    .booking-info-max-width-container {
        padding: 0 16px;
        gap: 25px;
    }
}